@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Jost";
}

:root {
  --purple: #ad1fea;
  --blue: #4661e6;
  --header-bg: #373f68;
  --d: #ffffff;
  --gray: #f2f4fe;
  --bg-color: #f7f8fd;
  --bold: #3a4374;
  --paragraph: #647196;
  --i: #f49f85;
  --j: #62bcfa;
  --error: #d73737;
  --hover: #cfd7ff;
  /* #E84D70, #A337F6, #28A7ED*/
}

body {
  background-color: var(--bg-color);
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
}
